@charset "UTF-8";

/*
    Paleta de cores
    rosa
    roxo
    preto
    Azul
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body, html{
    background-image: linear-gradient(pink, blue);
    height: 100%;
}



h1{
    text-align: center;
    padding: 5px;
    
}
main{
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    display: block;

}

section{
    
}

div#formulario{
    text-align: left;

}

form{
    
}