@charset "UTF-8";

/*
    Paleta de cores
    rosa
    roxo
    preto
    Azul
*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-image: linear-gradient(to top, rgb(231, 178, 187), rgb(248, 201, 209) );
}



h1{
    text-align: center;
}
main{
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
}

section{
    
}

div#formulario{
    background-color: white;

}

form{
    
}